## 0. Introduction

Ce projet est réalisé par Zakarya El Mimouni et Yassine Boukhateb étudiants en deuxième année du cycle ingénieur de l'ENSAE Paris dans le cadre du cours de Python pour la DataScience.

**Importation des modules et packages**

In [1]:
import requests
import json
import time
import pandas as pd
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

## I. Récupération des données

On récupère les données de 10 000 films grâce à l'API TMDB

Film Killers of the Flower Moon récupéré avec détails supplémentaires.
Film Robot Apocalypse récupéré avec détails supplémentaires.
Film Freelance récupéré avec détails supplémentaires.
Film Wonka récupéré avec détails supplémentaires.
Film Trolls Band Together récupéré avec détails supplémentaires.
Film Leave the World Behind récupéré avec détails supplémentaires.
Film Leo récupéré avec détails supplémentaires.
Film Good Boy récupéré avec détails supplémentaires.
Film A Man of Reason récupéré avec détails supplémentaires.
Film Oppenheimer récupéré avec détails supplémentaires.
Film Five Nights at Freddy's récupéré avec détails supplémentaires.
Film The Creator récupéré avec détails supplémentaires.
Film The Advent Calendar récupéré avec détails supplémentaires.
Film Rumble Through the Dark récupéré avec détails supplémentaires.
Film Fast X récupéré avec détails supplémentaires.
Film Fast Charlie récupéré avec détails supplémentaires.
Film Merry Little Batman récupéré avec détails supplémentaires.
Film Galaxy Games récupéré avec détails supplémentaires.
Film The Dark Kingdom récupéré avec détails supplémentaires.
Film Krampus récupéré avec détails supplémentaires.
Page 1 récupérée. Total de films récupérés : 20
Récupération des films avec détails complets terminée. Les données ont été enregistrées dans movies_data_complete.json.

On récupère les données qui nous seront utile pour la création de l'interface de l'application.

In [35]:
movies_data=pd.read_json('movies_data_complete.json')
selected_columns=['id','title','original_title','overview','release_date','adult','popularity','vote_average','vote_count','poster_path','runtime','genres','production_companies','production_countries','spoken_languages','credits','keywords']
movies_data=movies_data[selected_columns]
movies_data= movies_data.drop_duplicates(subset='title', keep='first')

In [36]:
# Convertir la colonne 'release_date' en type datetime si ce n'est pas déjà le cas
movies_data['release_date'] = pd.to_datetime(movies_data['release_date'])

# Filtrer les films dont la date est antérieure à '2023-10-18'
movies_data = movies_data[movies_data['release_date'] <= '2023-12-31']
movies_data.reset_index(drop=True)
movies_data.dropna(axis=0,inplace=True)

On contrôle qu'il n'y pas de variables avec des informations manquantes. On fait le choix d'enlever le film dès lors qu'il manque une info c'est assez restrictif A FAIRE PLUS TARD

Pour notre modèle on conserve que les films dont les features ci dessous existent ça sera plus crédible

In [38]:
movies_reco=movies_data[["id","title","overview","genres","keywords","credits"]]
display(movies_reco.loc[0].genres,
movies_data.loc[0].keywords["keywords"][0],
movies_data.loc[0].credits["cast"][0])

[{'id': 80, 'name': 'Crime'},
 {'id': 18, 'name': 'Drama'},
 {'id': 36, 'name': 'History'}]

{'id': 1157, 'name': 'husband wife relationship'}

{'adult': False,
 'gender': 2,
 'id': 6193,
 'known_for_department': 'Acting',
 'name': 'Leonardo DiCaprio',
 'original_name': 'Leonardo DiCaprio',
 'popularity': 56.044,
 'profile_path': '/5Brc5dLifH3UInk3wUaCuGXpCqy.jpg',
 'cast_id': 0,
 'character': 'Ernest Burkhart',
 'credit_id': '5968f416c3a3686f60021bc8',
 'order': 0}

On nettoie les colonnes genres, keywords, credits

In [39]:
def convert(text):
    L = []
    for i in text:
        L.append(i["name"]) 
    return L

In [40]:
movies_reco['genres'] = movies_reco['genres'].apply(convert)
movies_reco['keywords'] = movies_reco['keywords'].apply(lambda x: x['keywords'] if isinstance(x, dict) and 'keywords' in x else None) # regarder Robot Apocalypse Keywords
movies_reco = movies_reco[movies_reco['keywords'].apply(lambda x: isinstance(x, list) and len(x) > 0)]
movies_reco["keywords"]=movies_reco["keywords"].apply(convert)

movies_reco['cast'] = movies_reco['credits'].apply(lambda x: x.get('cast') if isinstance(x, dict) else None)
movies_reco['crew'] = movies_reco['credits'].apply(lambda x: x.get('crew') if isinstance(x, dict) else None)
movies_reco.drop("credits", axis=1,inplace=True)
movies_reco.head()

W:\AppData\Local\Temp\ipykernel_11172\1391644150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_reco['genres'] = movies_reco['genres'].apply(convert)
W:\AppData\Local\Temp\ipykernel_11172\1391644150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_reco['keywords'] = movies_reco['keywords'].apply(lambda x: x['keywords'] if isinstance(x, dict) and 'keywords' in x else None) # regarder Robot Apocalypse Keywords

,id,title,overview,genres,keywords,cast,crew
0,466420,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,"[Crime, Drama, History]","[husband wife relationship, based on novel or ...","[{'adult': False, 'gender': 2, 'id': 6193, 'kn...","[{'adult': False, 'gender': 2, 'id': 27, 'know..."
1,897087,Freelance,An ex-special forces operative takes a job to ...,"[Action, Comedy]","[coup d'etat, dictatorship, political assassin...","[{'adult': False, 'gender': 2, 'id': 56446, 'k...","[{'adult': True, 'gender': 2, 'id': 997, 'know..."
2,787699,Wonka,Willy Wonka – chock-full of ideas and determin...,"[Comedy, Family, Fantasy]","[chocolate, musical, prequel]","[{'adult': False, 'gender': 2, 'id': 1190668, ...","[{'adult': False, 'gender': 2, 'id': 1299, 'kn..."
3,901362,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...","[Animation, Family, Music, Fantasy, Comedy]","[pop star, brother, musical, sequel, based on ...","[{'adult': False, 'gender': 1, 'id': 84223, 'k...","[{'adult': False, 'gender': 2, 'id': 10572, 'k..."
4,1075794,Leo,Jaded 74-year-old lizard Leo has been stuck in...,"[Animation, Comedy, Family]","[classroom, musical, bucket list]","[{'adult': False, 'gender': 2, 'id': 19292, 'k...","[{'adult': False, 'gender': 0, 'id': 7963, 'kn..."

In [42]:
def convert3(text):
    L=[]
    counter=0
    for i in text:
        if counter<3:
            L.append(i["name"])
        counter+=1
    return L
movies_reco["cast"]=movies_reco["cast"].apply(convert3)

Ainsi, les colonnes genres, keywords, cast et crew sont exploitables.

In [45]:
def fetch_director(text):
    L = []
    for i in text:
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L 
movies_reco["crew"]=movies_reco["crew"].apply(fetch_director)
movies_reco['overview'] = movies_reco['overview'].apply(lambda x:x.split())
movies_reco["title_bis"]=movies_reco["title"].apply(lambda x:x.split())
movies_reco.head()

,id,title,overview,genres,keywords,cast,crew,title_bis
0,466420,Killers of the Flower Moon,"[When, oil, is, discovered, in, 1920s, Oklahom...","[Crime, Drama, History]","[husband wife relationship, based on novel or ...","[Leonardo DiCaprio, Lily Gladstone, Robert De ...",[Martin Scorsese],"[Killers, of, the, Flower, Moon]"
1,897087,Freelance,"[An, ex-special, forces, operative, takes, a, ...","[Action, Comedy]","[coup d'etat, dictatorship, political assassin...","[John Cena, Alison Brie, Juan Pablo Raba]",[Pierre Morel],[Freelance]
2,787699,Wonka,"[Willy, Wonka, –, chock-full, of, ideas, and, ...","[Comedy, Family, Fantasy]","[chocolate, musical, prequel]","[Timothée Chalamet, Calah Lane, Keegan-Michael...",[Paul King],[Wonka]
3,901362,Trolls Band Together,"[When, Branch's, brother,, Floyd,, is, kidnapp...","[Animation, Family, Music, Fantasy, Comedy]","[pop star, brother, musical, sequel, based on ...","[Anna Kendrick, Justin Timberlake, Camila Cabe...",[Walt Dohrn],"[Trolls, Band, Together]"
4,1075794,Leo,"[Jaded, 74-year-old, lizard, Leo, has, been, s...","[Animation, Comedy, Family]","[classroom, musical, bucket list]","[Adam Sandler, Bill Burr, Cecily Strong]",[Robert Smigel],[Leo]

In [46]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1
movies_reco['cast'] = movies_reco['cast'].apply(collapse)
movies_reco['crew'] = movies_reco['crew'].apply(collapse)
movies_reco['genres'] = movies_reco['genres'].apply(collapse)
movies_reco['keywords'] = movies_reco['keywords'].apply(collapse)
movies_reco.head()

,id,title,overview,genres,keywords,cast,crew,title_bis
0,466420,Killers of the Flower Moon,"[When, oil, is, discovered, in, 1920s, Oklahom...","[Crime, Drama, History]","[husbandwiferelationship, basedonnovelorbook, ...","[LeonardoDiCaprio, LilyGladstone, RobertDeNiro]",[MartinScorsese],"[Killers, of, the, Flower, Moon]"
1,897087,Freelance,"[An, ex-special, forces, operative, takes, a, ...","[Action, Comedy]","[coupd'etat, dictatorship, politicalassassinat...","[JohnCena, AlisonBrie, JuanPabloRaba]",[PierreMorel],[Freelance]
2,787699,Wonka,"[Willy, Wonka, –, chock-full, of, ideas, and, ...","[Comedy, Family, Fantasy]","[chocolate, musical, prequel]","[TimothéeChalamet, CalahLane, Keegan-MichaelKey]",[PaulKing],[Wonka]
3,901362,Trolls Band Together,"[When, Branch's, brother,, Floyd,, is, kidnapp...","[Animation, Family, Music, Fantasy, Comedy]","[popstar, brother, musical, sequel, basedontoy...","[AnnaKendrick, JustinTimberlake, CamilaCabello]",[WaltDohrn],"[Trolls, Band, Together]"
4,1075794,Leo,"[Jaded, 74-year-old, lizard, Leo, has, been, s...","[Animation, Comedy, Family]","[classroom, musical, bucketlist]","[AdamSandler, BillBurr, CecilyStrong]",[RobertSmigel],[Leo]

In [47]:
movies_reco['label'] = movies_reco['overview']+movies_reco['title_bis']+movies_reco['genres'] + movies_reco['keywords'] + movies_reco['cast'] + movies_reco['crew']
data_model=movies_reco.drop(columns=['overview','genres','keywords','cast','crew',"title_bis"])
data_model['label'] = data_model['label'].apply(lambda x: " ".join(x))
data_model.head()

,id,title,label
0,466420,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...
1,897087,Freelance,An ex-special forces operative takes a job to ...
2,787699,Wonka,Willy Wonka – chock-full of ideas and determin...
3,901362,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for..."
4,1075794,Leo,Jaded 74-year-old lizard Leo has been stuck in...

In [48]:
ps =PorterStemmer()
def stem(text): # stem("dancing")=>"danc"
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)
data_model["label"]=data_model["label"].apply(stem)
data_model["label"]=data_model["label"].apply(lambda x : x.lower())
data_model.head()

,id,title,label
0,466420,Killers of the Flower Moon,when oil is discov in 1920 oklahoma under osag...
1,897087,Freelance,an ex-speci forc oper take a job to provid sec...
2,787699,Wonka,willi wonka – chock-ful of idea and determin t...
3,901362,Trolls Band Together,"when branch' brother, floyd, is kidnap for hi ..."
4,1075794,Leo,jade 74-year-old lizard leo ha been stuck in t...

In [49]:
data_model.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8302 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8302 non-null   int64
 1   title   8302 non-null   object
 2   label   8302 non-null   object
dtypes: int64(1), object(2)
memory usage: 259.4+ KB

In [50]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vector = cv.fit_transform(data_model['label']).toarray()

In [51]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.        , 0.        , ..., 0.01690309, 0.06172134,
        0.        ],
       [0.        , 1.        , 0.03846154, ..., 0.09376145, 0.        ,
        0.03580574],
       [0.        , 0.03846154, 1.        , ..., 0.02344036, 0.0855921 ,
        0.10741723],
       ...,
       [0.01690309, 0.09376145, 0.02344036, ..., 1.        , 0.02608203,
        0.04364358],
       [0.06172134, 0.        , 0.0855921 , ..., 0.02608203, 1.        ,
        0.        ],
       [0.        , 0.03580574, 0.10741723, ..., 0.04364358, 0.        ,
        1.        ]])

In [52]:
similarity.shape

(8302, 8302)

In [53]:
def recommend(movie,m):
    index = data_model[data_model['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:m+1]:
        print(data_model.iloc[i[0]].title)

In [54]:
recommend("Killers of the Flower Moon",2)

Wind River
Thunderheart

In [55]:
import pickle
pickle.dump(data_model.to_dict(),open("movies_dict.pkl","wb"))
pickle.dump(similarity,open("similarity.pkl","wb"))